.glitch-wrapper {
    position: relative;
    display: inline-block;
    color: #111;
    font-weight: 800;
    vertical-align: middle;
}

/* Pseudo-elements for the split channels */
.glitch-wrapper::before,
.glitch-wrapper::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

/* Channel 1: Red/Cyan Shift */
.glitch-wrapper::before {
    left: 2px;
    text-shadow: -1px 0 #FF0000;
    clip-path: inset(0 0 0 0);
    animation: glitch-anim-1 2.5s infinite linear alternate-reverse;
}

/* Channel 2: Blue/Magenta Shift */
.glitch-wrapper::after {
    left: -2px;
    text-shadow: -1px 0 #0000FF;
    clip-path: inset(0 0 0 0);
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
    0% {
        clip-path: inset(20% 0 80% 0);
        transform: translate(-2px, 1px);
    }

    20% {
        clip-path: inset(60% 0 10% 0);
        transform: translate(1px, -1px);
    }

    40% {
        clip-path: inset(40% 0 50% 0);
        transform: translate(-1px, 2px);
    }

    60% {
        clip-path: inset(80% 0 5% 0);
        transform: translate(2px, -2px);
    }

    80% {
        clip-path: inset(10% 0 60% 0);
        transform: translate(-1px, 1px);
    }

    100% {
        clip-path: inset(30% 0 30% 0);
        transform: translate(1px, -1px);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip-path: inset(10% 0 60% 0);
        transform: translate(2px, -1px);
    }

    20% {
        clip-path: inset(80% 0 5% 0);
        transform: translate(-1px, 2px);
    }

    40% {
        clip-path: inset(30% 0 20% 0);
        transform: translate(2px, 1px);
    }

    60% {
        clip-path: inset(10% 0 80% 0);
        transform: translate(-2px, -1px);
    }

    80% {
        clip-path: inset(50% 0 30% 0);
        transform: translate(1px, 2px);
    }

    100% {
        clip-path: inset(70% 0 10% 0);
        transform: translate(-1px, -2px);
    }
}